# 第四次课作业

In [1]:
import pandas as pd
import numpy as np

（1）读取上次作业保存的数据，酒店数据1.xlsx

In [8]:
df = pd.read_excel("酒店数据1.xlsx",index_col = 0)

（2）查看“评分”的格式，并分别进行升序和降序排序

In [9]:
df.sort_values(by = "评分")

,名字,类型,城市,地区,地点,评分,评分人数,价格
384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429
281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
331,香港欣欣宾馆(家庭旅馆)(YAN YAN GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道40号重庆大厦E座8字楼E1室,2.3,6,977
...,...,...,...,...,...,...,...,...
82,香港半岛酒店(The Peninsula Hong Kong),海滨风光,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693,3862
14,迪士尼探索家度假酒店(Disney Explorers Lodge),海滨风光,香港,离岛,迪士尼乐园度假区,4.8,4794,1662
116,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461,12926
210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395

In [10]:
df.sort_values(by = "评分",ascending = False)

,名字,类型,城市,地区,地点,评分,评分人数,价格
210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395
198,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921,190
14,迪士尼探索家度假酒店(Disney Explorers Lodge),海滨风光,香港,离岛,迪士尼乐园度假区,4.8,4794,1662
116,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461,12926
...,...,...,...,...,...,...,...,...
352,香港京华宾馆(佐敦),地铁周边,香港,其他地区,九龙佐敦南京街19-21号3楼2/F,2.3,40,328
359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429

（3）对酒店按照价格进行排名，计算“油尖旺”地区的均价。

In [15]:
df.sort_values(by = "价格")
df[df.地区 == '油尖旺']['价格'].mean()

544.3621621621621

（4）对酒店数据进行描述性统计，并求所有价格的均值方差，最大最小值，中值。

In [17]:
df.describe()

               评分          评分人数            价格
count  396.000000    396.000000    396.000000
mean     4.285536   2473.818182    682.315657
std      0.484353   4508.745613    907.334845
min      1.500000      1.000000     67.000000
25%      4.200000     95.500000    246.750000
50%      4.400000    866.500000    416.500000
75%      4.600000   3247.000000    766.000000
max      4.900000  45463.000000  12926.000000

（5）计算评分和价格之间的的相关系数，协方差

In [18]:
df[["价格", "评分"]].corr()

          价格        评分
价格  1.000000  0.288901
评分  0.288901  1.000000

In [19]:
df[["价格", "评分"]].cov()

               价格          评分
价格  823256.520362  126.963415
评分     126.963415    0.234598

（6）按照评分降序排序，评分相同时按价格升序排序。

In [22]:
df.sort_values(by = ['评分','价格'],ascending = (False,True))

,名字,类型,城市,地区,地点,评分,评分人数,价格
210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395
316,香港尊贵旅馆(Hong Kong Premium Guest House),其他类型,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19,166
198,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921,190
74,香港和平客栈(HK Peaceful Guesthouse),民宿,香港,其他地区,尖沙咀弥敦道58号美丽都大厦13楼B1室于13楼C2室登记入住,4.8,511,264
...,...,...,...,...,...,...,...,...
331,香港欣欣宾馆(家庭旅馆)(YAN YAN GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道40号重庆大厦E座8字楼E1室,2.3,6,977
359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429

（7）计算一下，评分小于3分的酒店数量和占比。

In [25]:
len(df[df.评分 < 3])

12

In [28]:
len(df[df.评分 < 3])/len(df)

0.030303030303030304

（8）计算一下，酒店评分大于等于4分的酒店的价格均值。

In [30]:
df[df.评分 >= 4]['价格'].mean()

743.165191740413

（9）计算出每个地区的酒店占总酒店数量的比例。

In [38]:
df.地区.value_counts()/len(df)

油尖旺     0.467172
其他地区    0.141414
湾仔      0.103535
中西区     0.083333
九龙城     0.053030
东区      0.040404
离岛      0.027778
观塘      0.017677
荃湾      0.017677
南区      0.012626
葵青      0.012626
沙田      0.010101
屯门      0.005051
元朗      0.002525
深水埗区    0.002525
罗湖区     0.002525
Name: 地区, dtype: float64

（10）找出酒店评分人数排名前20的酒店，并计算他们的价格均值。

In [36]:
df.sort_values(by = '评分人数',ascending = False)[:20]['价格'].mean()

1111.8

（11）查看酒店分布的类型数量和地区数量，并统计各个类型和地区包含的酒店数量。

In [40]:
len(df.类型.unique())

18

In [41]:
len(df.地区.unique())

16

In [42]:
df.类型.value_counts()

地铁周边     172
浪漫情侣      68
海滨风光      61
休闲度假      30
其他类型      20
商务出行      13
民宿         6
亲子酒店       5
酒店公寓       5
青年旅舍       4
客栈         3
环境不错       3
老板热情       1
干净卫生       1
印象好        1
火车站周边      1
交通方便       1
大学周边       1
Name: 类型, dtype: int64

（12）用数据透视表，计算每个类型的酒店的评分人数总数量。

In [44]:
pd.pivot_table(df,index = '类型',values = '评分人数',aggfunc = np.sum)

         评分人数
类型
交通方便      152
亲子酒店    11492
休闲度假   219657
其他类型     4858
印象好        68
商务出行     9630
地铁周边    91323
大学周边       23
客栈        229
干净卫生      146
民宿       2493
浪漫情侣   238436
海滨风光   394600
火车站周边     578
环境不错     1327
老板热情       48
酒店公寓     1967
青年旅舍     2605

（13）用数据透视表，计算每个类型的酒店价格的均值和标准差

In [47]:
pd.pivot_table(df,index = '类型',values = ['价格'],aggfunc = [np.mean,np.std]) #一个数据是没有办法计算方差的

              mean          std
                价格           价格
类型
交通方便    421.000000          NaN
亲子酒店    745.400000   546.616227
休闲度假   1151.300000   831.027704
其他类型    269.300000   199.264727
印象好     297.000000          NaN
商务出行   1045.153846   870.595663
地铁周边    374.139535   377.604830
大学周边    325.000000          NaN
客栈      397.666667   154.017315
干净卫生    185.000000          NaN
民宿      258.500000   127.000394
浪漫情侣    608.573529   303.356119
海滨风光   1543.573770  1746.828349
火车站周边   968.000000          NaN
环境不错    357.666667   161.283394
老板热情    385.000000          NaN
酒店公寓   1182.000000   697.624899
青年旅舍    189.250000   116.851401

（14）用数据透视表，计算每个地区酒店价格和评分的最大值和最小值

（15）用数据透视表，计算每个地区和类型的酒店的评分的均值和标准差